<nav class="navbar navbar-light navbar-expand-lg ">
      <div class="container">
      <a class="navbar-brand" href="#">Logo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav ml-auto">
            <a class="nav-link" href="#">Logout <span class="sr-only">(current)</span></a>
            </div>
      </div>
  </div>
</nav>
    
{{!-- gear items table --}}
<div class="container ">
  <div class="row">
    <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Gear Items Inventory List</h5>
              <table class="table">
                <thead>
                  <tr>
                    <th class="item">Item</th>
                    <th class="type">Description</th>
                    <th class="type">Wgt.</th>
                    <th class="item">Storage Location</th>
                    <th class="onhand">Qty. On Hand</th>
                    <th class="onhand">Qty. Desired</th>
                    <th class="packed">Qty. Packed</th>
                    {{!-- <th class="packed">Qty. Desired</th>
                    <th class="total">Total Purchase Require</th>
                    <th class="made">Purchase Qty. Made</th> --}}

                    <th>Update</th>  
                      <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                  
                    {{!-- <th scope="row">1</th> --}}
                    {{#each gearData}}
                    <tr>
                    <td>{{dataValues.itemName}}</td>
                    <td>{{dataValues.itemDescription}}</td>
                    <td>{{dataValues.itemWeight}}</td>
                    <td>{{dataValues.itemStorageLocation}}</td>
                    <td>{{dataValues.itemQuantityInStorage}}</td>
                    <td>{{dataValues.itemQuantityInPackingList}}</td>
                    <td>{{dataValues.UserId}}</td>
                      <td><a data-id={{id}} class="edit-item" type="submit" data-order="true"><strong>Edit</strong></a></td>
                      <td><a data-id={{id}} class="delete-item" type="submit" data-order="true"><strong>Delete</strong></a></td>
                    </tr>
                    {{/each}}
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{#section 'scripts'}}
  <script type="text/javascript" src="js/gear.js"></script>
  {{/section}}
