<nav class="navbar navbar-light navbar-expand-lg ">
      <div class="container text-dark">
      <h2>Welcome <span class="member-name"></span></h2>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav ml-auto">
            <a class="navbar-brand" href="/logout">Logout</a>
            </div>
      </div>
  </div>
</nav>
    
{{!-- gear items table --}}
<div class="container">
  <div class="row">
      <div class="card">
        <div class="card-body">
            <h5 class="card-title text-center">Gear Items Inventory List</h5>
              <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalCenter">Add item</button>
          <div class="table-wrapper-scroll-y my-custom-scrollbar ">
            <table class="table table-striped">
              <thead class="thead-light">
                <tr>
                  <th class="itemName">Item Name</th>
                    <th class="itemDescription">Description</th>
                    <th class="itemWeight">Weight (Oz.)</th>
                    <th class="itemStorageLocation">Storage Location</th>
                    <th class="itemQuantityInStorage">Quantity in Storage</th>
                    <th class="itemQuantityInPackingList">Quantitiy in Packing List</th>
                    <th class="actions">Actions</th> 
                    <th></th>
                  </tr>
              </thead>
                
              <tbody>
                    {{#each gearData}}
                    <tr>
                    <td>{{dataValues.itemName}}</td>
                    <td>{{dataValues.itemDescription}}</td>
                    <td>{{dataValues.itemWeight}}</td>
                    <td>{{dataValues.itemStorageLocation}}</td>
                    <td>{{dataValues.itemQuantityInStorage}}</td>
                    <!-- td>{{dataValues.itemQuantityInPackingList}}</td -->
                    <td>{{dataValues.itemQuantityInPackingList}}</td>
                      <td><button data-id={{id}} type="submit" class="edit-item btn btn-info" data-order="true">Edit</button></td>
                      <td><button data-id={{dataValues.id}} type="submit" class="delete-item btn btn-danger" data-order="true">Delete</button></td>
                    </tr>
                    {{/each}}
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add a new item to your inventory</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="createForm" class="row g-3">
          <div class="col-md-6">
            <div class="form-group">
              <label for="itemName">Item Name</label>
              <input type="text" class="form-control" id="itemName" placeholder="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="itemDescription">Description</label>
              <input type="text" class="form-control" id="itemDescription" placeholder="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="itemWeight">Weight</label>
              <input type="text" class="form-control" id="itemWeight" placeholder="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="itemStorageLocation">Storage Location</label>
              <input type="text" class="form-control" id="itemStorageLocation" placeholder="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="itemQuantityInStorage">Quantity in Storage</label>
              <input type="text" class="form-control" id="itemQuantityInStorage" placeholder="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="itemQuantityInPackingList">Quantity in Packing List</label>
              <input type="text" class="form-control" id="itemQuantityInPackingList" placeholder="">
            </div>
          </div>
          <div class="col-md-6">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
    </div>
  </div>
</div>
  {{#section 'scripts'}}
  <script type="text/javascript" src="js/gear.js"></script>
  {{/section}}
